In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/mariagrahamx/mariagrahamx.github.io/refs/heads/main/Capstone/World%20Economic%20Outlook%20Database%20-%201980%20to%202023.csv"

df = pd.read_csv(url)
df

,WEO Country Code,ISO,WEO Subject Code,Country,Subject Descriptor,Subject Notes,Units,Scale,Country/Series-specific Notes,1980,...,2022,2023,2024,2025,2026,2027,2028,2029,2030,Estimates Start After
0,512,AFG,NGDP_R,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,032.71","1,056.12",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
1,512,AFG,NGDP_RPCH,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,"See notes for: Gross domestic product, consta...",NaN,...,-6.24,2.267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
2,512,AFG,NGDP,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,Source: National Statistics Office Latest actu...,NaN,...,"1,283.44","1,350.91",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
3,512,AFG,NGDPD,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,14.501,17.248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
4,512,AFG,PPPGDP,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",NaN,...,86.149,91.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8621,698,ZWE,NGDP_FY,Zimbabwe,Gross domestic product corresponding to fiscal...,Gross domestic product corresponding to fiscal...,National currency,Billions,Source: Ministry of Finance or Treasury Latest...,NaN,...,4.958,53.509,589.716,"1,149.69","1,319.64","1,476.53","1,649.21","1,843.66","2,056.06",2024.0
8622,698,ZWE,BCA,Zimbabwe,Current account balance,Current account is all transactions other than...,U.S. dollars,Billions,Source: Reserve Bank of Zimbabwe and Ministry ...,-0.301,...,0.305,0.135,0.505,1.143,1.21,1.198,1.226,1.12,0.996,2023.0
8623,698,ZWE,BCA_NGDPD,Zimbabwe,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,"See notes for: Gross domestic product, curren...",NaN,...,0.935,0.384,1.435,2.994,3.063,2.927,2.895,2.554,2.196,2023.0
8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8625,"International Monetary Fund, World Economic Ou...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# check structure

print('Current Shape:', df.shape)
print('Columns:', df.columns.tolist())

Current Shape: (8626, 61)
Columns: ['WEO Country Code', 'ISO', 'WEO Subject Code', 'Country', 'Subject Descriptor', 'Subject Notes', 'Units', 'Scale', 'Country/Series-specific Notes', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', 'Estimates Start After']

In [5]:
# drop columns we don't want

df2 = df.drop(columns=['WEO Country Code', 'WEO Subject Code', 'Country/Series-specific Notes', '2020','2021','2022','2022','2023','2024','2025','2026','2027','2028','2029','2030'])
df2

,ISO,Country,Subject Descriptor,Subject Notes,Units,Scale,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Estimates Start After
0,AFG,Afghanistan,"Gross domestic product, constant prices",Expressed in billions of national currency uni...,National currency,Billions,NaN,NaN,NaN,NaN,...,958.266,"1,092.12","1,154.18","1,185.31","1,197.01","1,222.92","1,255.29","1,270.22","1,319.90",2024.0
1,AFG,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,NaN,NaN,NaN,NaN,...,6.479,13.968,5.683,2.697,0.988,2.164,2.647,1.189,3.912,2024.0
2,AFG,Afghanistan,"Gross domestic product, current prices",Expressed in billions of national currency uni...,National currency,Billions,NaN,NaN,NaN,NaN,...,836.222,"1,033.59","1,116.83","1,183.04","1,226.57","1,222.92","1,285.46","1,327.69","1,469.60",2024.0
3,AFG,Afghanistan,"Gross domestic product, current prices",Values are based upon GDP in national currency...,U.S. dollars,Billions,NaN,NaN,NaN,NaN,...,17.89,20.293,20.17,20.616,20.057,18.02,18.883,18.336,18.876,2024.0
4,AFG,Afghanistan,"Gross domestic product, current prices",These data form the basis for the country weig...,Purchasing power parity; international dollars,Billions,NaN,NaN,NaN,NaN,...,58.216,67.583,72.639,75.898,77.358,79.784,83.362,89.369,97.801,2024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8621,ZWE,Zimbabwe,Gross domestic product corresponding to fiscal...,Gross domestic product corresponding to fiscal...,National currency,Billions,NaN,NaN,NaN,NaN,...,0.006,0.007,0.008,0.008,0.008,0.008,0.009,0.015,0.085,2024.0
8622,ZWE,Zimbabwe,Current account balance,Current account is all transactions other than...,U.S. dollars,Billions,-0.301,-0.674,-0.748,-0.504,...,-2.75,-2.278,-2.649,-2.334,-1.597,-0.697,-0.271,-1.38,0.92,2023.0
8623,ZWE,Zimbabwe,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-19.497,-13.308,-13.874,-11.971,-7.998,-3.394,-1.23,-3.737,3.536,2023.0
8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# select indicators we want

variables_to_keep = {
    'Gross domestic product, constant prices': 'Percent change',
    'Gross domestic product per capita, constant prices': 'National currency',
    'Inflation, average consumer prices': 'Percent change',
    'Unemployment rate': 'Percent of total labor force',
    'Population':'Persons',
    'General government revenue': 'Percent of GDP',
    'General government net lending/borrowing': 'Percent of GDP',
    'Current account balance': 'Percent of GDP'
}

def filter_row(row):
    descriptor = row['Subject Descriptor']
    units = row['Units']

    if descriptor in variables_to_keep:
        expected_units = variables_to_keep[descriptor]
        return expected_units in units
    return False

df2_filtered = df2[df2.apply(filter_row, axis=1)].copy()

print(f"\nFiltered to {len(df2_filtered)} rows")

Filtered to 1568 rows

In [7]:
df2_filtered.head(40)

,ISO,Country,Subject Descriptor,Subject Notes,Units,Scale,1980,1981,1982,1983,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Estimates Start After
1,AFG,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,NaN,NaN,NaN,NaN,...,6.479,13.968,5.683,2.697,0.988,2.164,2.647,1.189,3.912,2024.0
6,AFG,Afghanistan,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,NaN,NaN,NaN,NaN,...,"32,762.18","35,846.55","36,592.70","36,229.94","35,463.36","35,307.47","35,217.93","34,623.25","34,946.23",2023.0
17,AFG,Afghanistan,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,NaN,NaN,NaN,NaN,...,11.804,6.441,7.386,4.674,-0.662,4.384,4.976,0.626,2.302,2024.0
24,AFG,Afghanistan,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AFG,Afghanistan,Population,"For census purposes, the total population of t...",Persons,Millions,NaN,NaN,NaN,NaN,...,29.249,30.466,31.541,32.716,33.753,34.636,35.643,36.687,37.769,2023.0
28,AFG,Afghanistan,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,21.265,25.21,24.346,23.684,24.569,28.156,27.059,30.57,26.941,2024.0
32,AFG,Afghanistan,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-0.672,0.182,-0.631,-1.719,-1.378,0.127,-0.673,1.634,-1.058,2024.0
43,AFG,Afghanistan,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,26.574,10.864,1.444,6.549,3.709,9.029,7.576,12.143,11.705,2024.0
45,ALB,Albania,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,2.684,5.7,2.9,1.1,...,2.545,1.418,1.002,1.774,2.219,3.315,3.802,4.019,2.088,2022.0
50,ALB,Albania,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,"238,341.38","246,931.01","248,778.70","246,237.08",...,"485,786.97","493,487.45","499,346.16","509,260.31","522,078.15","540,248.06","561,305.36","585,308.54","600,079.04",2021.0
61,ALB,Albania,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,NaN,NaN,NaN,NaN,...,3.443,2.036,1.925,1.613,1.868,1.287,1.985,2.029,1.411,2022.0
68,ALB,Albania,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,5.028,4.224,2.813,3.335,...,14,13.4,15.9,17.5,17.1,15.2,13.7,12.3,11.47,2022.0
70,ALB,Albania,Population,"For census purposes, the total population of t...",Persons,Millions,2.672,2.726,2.784,2.844,...,2.905,2.9,2.895,2.889,2.881,2.876,2.873,2.866,2.854,2021.0
72,ALB,Albania,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,25.108,24.497,23.696,25.963,26.129,27.317,27.43,27.134,26.889,2022.0
76,ALB,Albania,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-3.475,-3.4,-5.154,-5.393,-4.267,-1.48,-1.389,-1.601,-1.921,2022.0
87,ALB,Albania,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,0.053,-0.449,-2.238,-1.564,...,-12.765,-10.082,-9.144,-10.67,-8.508,-7.483,-7.404,-6.674,-7.482,2022.0
89,DZA,Algeria,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,-5.4,3,6.4,5.4,...,2.993,2.433,2.597,4.086,3.162,3.884,1.524,1.44,0.933,2023.0
94,DZA,Algeria,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,"150,958.89","150,801.86","155,461.23","158,648.77",...,"183,340.79","183,903.91","184,728.43","188,260.71","190,087.08","193,247.63","192,030.52","190,874.61","188,901.43",2023.0
105,DZA,Algeria,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,9.668,14.61,6.593,7.835,...,4.5,8.916,3.255,2.917,4.784,6.398,5.591,4.27,1.952,2024.0
112,DZA,Algeria,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,15.789,15.385,15,14.286,...,9.971,10.969,9.829,10.6,11.214,10.498,11.709,11.731,11.383,2019.0
114,DZA,Algeria,Population,"For census purposes, the total population of t...",Persons,Millions,18.666,19.246,19.864,20.516,...,36.717,37.495,38.297,39.114,39.963,40.836,41.721,42.578,43.424,2023.0
116,DZA,Algeria,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,36.662,35.995,32.678,29.802,27.039,25.332,28.702,30.096,28.591,2023.0
120,DZA,Algeria,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-1.058,-4.036,-0.788,-7.145,-13.879,-11.847,-7.547,-6.154,-8.509,2023.0
131,DZA,Algeria,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,0.526,-0.435,-0.897,-0.165,...,9.07,5.411,0.363,-3.949,-14.555,-14.645,-11.753,-8.68,-8.746,2023.0
133,AND,Andorra,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,NaN,NaN,NaN,NaN,...,-0.008,-4.974,-3.548,2.504,1.434,3.71,0.346,1.589,2.016,2024.0
138,AND,Andorra,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,NaN,NaN,NaN,NaN,...,"37,294.33","35,446.26","34,087.13","34,641.77","34,569.37","35,178.44","34,503.04","34,414.85","34,490.03",2024.0
149,AND,Andorra,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,NaN,NaN,NaN,NaN,...,2.552,1.467,0.475,-0.096,-1.132,-0.422,2.586,0.996,0.53,2024.0
156,AND,Andorra,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,NaN,NaN,NaN,NaN,...,3.675,5.95,6.225,5.3,3.875,3.3,2.35,1.775,2.075,2024.0
158,AND,Andorra,Population,"For census purposes, the total population of t...",Persons,Millions,NaN,NaN,NaN,NaN,...,0.07,0.07,0.07,0.071,0.072,0.073,0.075,0.076,0.078,2024.0
160,AND,Andorra,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,29.514,32.282,35.323,33.805,34.982,38.636,38.19,38.601,38.15,2023.0
164,AND,Andorra,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,0.405,-1.653,3.36,2.143,1.654,4.068,3.338,2.671,2.306,2023.0
175,AND,Andorra,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.01,2023.0
177,AGO,Angola,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,2.406,-4.4,0,4.2,...,3.59,8.5,4.88,4.66,0.76,-1.7,-0.14,-0.59,-0.2,2023.0
182,AGO,Angola,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,"245,892.71","228,887.29","222,988.13","226,425.78",...,"542,990.18","567,411.16","573,280.77","578,291.53","561,983.57","532,969.58","513,655.85","493,237.82","475,818.59",2021.0
193,AGO,Angola,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,46.708,1.391,1.833,1.833,...,13.484,10.285,8.782,7.298,9.159,30.694,29.844,19.629,17.079,2024.0
200,AGO,Angola,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,AGO,Angola,Population,"For census purposes, the total population of t...",Persons,Millions,8.272,8.495,8.72,8.948,...,24.259,25.188,26.147,27.128,28.128,29.155,30.209,31.274,32.354,2021.0
204,AGO,Angola,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,40.498,36.871,32.671,27.235,21.299,15.44,15.285,20.295,18.907,2023.0
208,AGO,Angola,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,7.195,3.685,-0.27,-5.069,-2.575,-3.983,-5.747,2.03,0.693,2023.0
219,AGO,Angola,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,0.8,-2.241,-6.053,-4.22,...,10.422,9.649,5.429,-2.279,-7.802,-2.688,-0.453,6.483,5.427,2023.0

In [8]:
# clean names of indicators

variable_mapping = {
    'Gross domestic product, constant prices': 'gdp_growth',
    'Gross domestic product per capita, constant prices': 'gdp_pc_constant',
    'Inflation, average consumer prices': 'inflation_avg',
    'Unemployment rate': 'unemployment',
    'Population': 'population_millions',
    'General government revenue': 'gov_revenue',
    'General government net lending/borrowing': 'gov_fiscal_balance',
    'Current account balance': 'current_account_pct_gdp'
}

df2_filtered['variable_name'] = df2_filtered['Subject Descriptor'].map(variable_mapping)

df2_filtered

,ISO,Country,Subject Descriptor,Subject Notes,Units,Scale,1980,1981,1982,1983,...,2012,2013,2014,2015,2016,2017,2018,2019,Estimates Start After,variable_name
1,AFG,Afghanistan,"Gross domestic product, constant prices",Annual percentages of constant price GDP are y...,Percent change,Units,NaN,NaN,NaN,NaN,...,13.968,5.683,2.697,0.988,2.164,2.647,1.189,3.912,2024.0,gdp_growth
6,AFG,Afghanistan,"Gross domestic product per capita, constant pr...",GDP is expressed in constant national currency...,National currency,Units,NaN,NaN,NaN,NaN,...,"35,846.55","36,592.70","36,229.94","35,463.36","35,307.47","35,217.93","34,623.25","34,946.23",2023.0,gdp_pc_constant
17,AFG,Afghanistan,"Inflation, average consumer prices",Annual percentages of average consumer prices ...,Percent change,Units,NaN,NaN,NaN,NaN,...,6.441,7.386,4.674,-0.662,4.384,4.976,0.626,2.302,2024.0,inflation_avg
24,AFG,Afghanistan,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unemployment
26,AFG,Afghanistan,Population,"For census purposes, the total population of t...",Persons,Millions,NaN,NaN,NaN,NaN,...,30.466,31.541,32.716,33.753,34.636,35.643,36.687,37.769,2023.0,population_millions
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8604,ZWE,Zimbabwe,Unemployment rate,Unemployment rate can be defined by either the...,Percent of total labor force,Units,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unemployment
8606,ZWE,Zimbabwe,Population,"For census purposes, the total population of t...",Persons,Millions,7.092,7.3,7.606,7.849,...,13.061,13.43,13.778,14.075,14.371,14.668,14.968,15.268,2022.0,population_millions
8608,ZWE,Zimbabwe,General government revenue,"Revenue consists of taxes, social contribution...",Percent of GDP,Units,NaN,NaN,NaN,NaN,...,20.425,19.596,19.337,18.72,17.043,17.498,14.737,11.679,2024.0,gov_revenue
8612,ZWE,Zimbabwe,General government net lending/borrowing,Net lending (+)/ borrowing (-) is calculated a...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-0.18,-0.97,-1.023,-2.037,-6.588,-10.377,-5.569,-2.644,2024.0,gov_fiscal_balance
8623,ZWE,Zimbabwe,Current account balance,Current account is all transactions other than...,Percent of GDP,Units,NaN,NaN,NaN,NaN,...,-13.308,-13.874,-11.971,-7.998,-3.394,-1.23,-3.737,3.536,2023.0,current_account_pct_gdp

In [9]:
# melt to long format

year_cols = [col for col in df2_filtered.columns if str(col).isdigit()]

print(f"Years: {min(year_cols)} to {max(year_cols)}")

df_long= df2_filtered.melt(
    id_vars=['ISO', 'Country', 'variable_name'],  # keep only these columns
    value_vars=year_cols,  # convert these to rows
    var_name='year',
    value_name='value'
)

# convert types

df_long['year'] = df_long['year'].astype(int)
df_long['value'] = pd.to_numeric(df_long['value'], errors='coerce')

print(f"\nLong format shape: {df_long.shape}")

Years: 1980 to 2019

Long format shape: (62720, 5)

In [10]:
df_long.head(15)

    ISO      Country            variable_name  year  value
0   AFG  Afghanistan               gdp_growth  1980    NaN
1   AFG  Afghanistan          gdp_pc_constant  1980    NaN
2   AFG  Afghanistan            inflation_avg  1980    NaN
3   AFG  Afghanistan             unemployment  1980    NaN
4   AFG  Afghanistan      population_millions  1980    NaN
5   AFG  Afghanistan              gov_revenue  1980    NaN
6   AFG  Afghanistan       gov_fiscal_balance  1980    NaN
7   AFG  Afghanistan  current_account_pct_gdp  1980    NaN
8   ALB      Albania               gdp_growth  1980  2.684
9   ALB      Albania          gdp_pc_constant  1980    NaN
10  ALB      Albania            inflation_avg  1980    NaN
11  ALB      Albania             unemployment  1980  5.028
12  ALB      Albania      population_millions  1980  2.672
13  ALB      Albania              gov_revenue  1980    NaN
14  ALB      Albania       gov_fiscal_balance  1980    NaN

In [11]:
# pivot to wide format

df_wide = df_long.pivot_table(
    index=['ISO', 'Country', 'year'],  # one row per country-year
    columns='variable_name',            # each indicator becomes a column
    values='value',
    aggfunc='first'  # in case of any remaining duplicates
).reset_index()

print(f"\nWide format shape: {df_wide.shape}")
print(f"Columns: {df_wide.columns.tolist()}")

Wide format shape: (7115, 11)
Columns: ['ISO', 'Country', 'year', 'current_account_pct_gdp', 'gdp_growth', 'gdp_pc_constant', 'gov_fiscal_balance', 'gov_revenue', 'inflation_avg', 'population_millions', 'unemployment']

In [12]:
df_wide.head(15)

variable_name,ISO,Country,year,current_account_pct_gdp,gdp_growth,gdp_pc_constant,gov_fiscal_balance,gov_revenue,inflation_avg,population_millions,unemployment
0,ABW,Aruba,1986,NaN,NaN,NaN,NaN,NaN,NaN,0.081,19.600
1,ABW,Aruba,1987,NaN,16.079,NaN,NaN,NaN,3.639,0.085,14.500
2,ABW,Aruba,1988,NaN,18.640,NaN,NaN,NaN,3.121,0.088,5.000
3,ABW,Aruba,1989,NaN,12.095,NaN,NaN,NaN,3.989,0.089,1.500
4,ABW,Aruba,1990,NaN,3.977,NaN,NaN,NaN,5.838,0.090,1.300
5,ABW,Aruba,1991,NaN,7.975,NaN,NaN,NaN,5.553,0.091,6.078
6,ABW,Aruba,1992,NaN,5.875,NaN,NaN,NaN,3.870,0.092,6.428
7,ABW,Aruba,1993,NaN,7.304,NaN,NaN,NaN,5.219,0.092,6.022
8,ABW,Aruba,1994,NaN,8.207,NaN,NaN,NaN,6.284,0.094,6.430
9,ABW,Aruba,1995,NaN,2.500,NaN,-0.834,25.498,3.413,0.096,5.983
10,ABW,Aruba,1996,NaN,1.257,NaN,-2.343,25.114,3.169,0.099,7.169
11,ABW,Aruba,1997,NaN,7.018,NaN,-2.102,22.887,3.006,0.100,7.446
12,ABW,Aruba,1998,NaN,1.989,NaN,0.114,21.688,1.865,0.100,3.250
13,ABW,Aruba,1999,-25.271,1.371,NaN,0.086,22.884,2.274,0.101,4.793
14,ABW,Aruba,2000,11.345,7.684,NaN,0.645,22.251,4.074,0.102,6.923

In [14]:
df_weo_clean = df_wide.copy()

df_weo_clean

variable_name,ISO,Country,year,current_account_pct_gdp,gdp_growth,gdp_pc_constant,gov_fiscal_balance,gov_revenue,inflation_avg,population_millions,unemployment
0,ABW,Aruba,1986,NaN,NaN,NaN,NaN,NaN,NaN,0.081,19.6
1,ABW,Aruba,1987,NaN,16.079,NaN,NaN,NaN,3.639,0.085,14.5
2,ABW,Aruba,1988,NaN,18.640,NaN,NaN,NaN,3.121,0.088,5.0
3,ABW,Aruba,1989,NaN,12.095,NaN,NaN,NaN,3.989,0.089,1.5
4,ABW,Aruba,1990,NaN,3.977,NaN,NaN,NaN,5.838,0.090,1.3
...,...,...,...,...,...,...,...,...,...,...,...
7110,ZWE,Zimbabwe,2015,-7.998,1.845,5.786,-2.037,18.720,-2.410,14.075,NaN
7111,ZWE,Zimbabwe,2016,-3.394,0.754,5.710,-6.588,17.043,-1.558,14.371,NaN
7112,ZWE,Zimbabwe,2017,-1.230,5.203,5.885,-10.377,17.498,0.907,14.668,NaN
7113,ZWE,Zimbabwe,2018,-3.737,5.010,6.057,-5.569,14.737,10.607,14.968,NaN
7114,ZWE,Zimbabwe,2019,3.536,-6.332,5.561,-2.644,11.679,255.292,15.268,NaN