In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# load only these columns

columns_to_keep = [
    'country_name',
    'country_text_id',  # ISO code
    'year',
    'v2x_corr',         # Political corruption
    'v2x_jucon',     # Judicial constraints
    'v2x_polyarchy',    # Electoral democracy
    'v2x_ex_military'   # Military power
]

In [9]:
df_vdem = pd.read_csv('/content/drive/MyDrive/V-Dem-CY-Core-v15.csv', usecols=columns_to_keep)
df_vdem

,country_name,country_text_id,year,v2x_polyarchy,v2x_jucon,v2x_ex_military,v2x_corr
0,Mexico,MEX,1789,0.028,0.293,0.00,0.674
1,Mexico,MEX,1790,0.028,0.293,0.25,0.674
2,Mexico,MEX,1791,0.028,0.293,0.25,0.674
3,Mexico,MEX,1792,0.028,0.293,0.25,0.674
4,Mexico,MEX,1793,0.028,0.293,0.25,0.674
...,...,...,...,...,...,...,...
27908,Piedmont-Sardinia,SPD,1857,0.205,0.260,0.00,0.239
27909,Piedmont-Sardinia,SPD,1858,0.206,0.260,0.00,0.239
27910,Piedmont-Sardinia,SPD,1859,0.206,0.260,0.00,0.239
27911,Piedmont-Sardinia,SPD,1860,0.210,0.260,0.00,0.239
27912,Piedmont-Sardinia,SPD,1861,0.210,0.260,0.00,0.239

In [11]:
# filter between 1980 to 2019

df_vdem2 = df_vdem[(df_vdem['year'] >= 1980) & (df_vdem['year'] <= 2019)]

print(f"Filtered to {len(df_vdem2)} rows")
print(f"Years: {df_vdem2['year'].min()} to {df_vdem2['year'].max()}")

Filtered to 6880 rows
Years: 1980 to 2019

In [12]:
df_vdem2

,country_name,country_text_id,year,v2x_polyarchy,v2x_jucon,v2x_ex_military,v2x_corr
191,Mexico,MEX,1980,0.299,0.282,0.071,0.819
192,Mexico,MEX,1981,0.304,0.282,0.071,0.819
193,Mexico,MEX,1982,0.313,0.292,0.071,0.777
194,Mexico,MEX,1983,0.319,0.292,0.071,0.770
195,Mexico,MEX,1984,0.319,0.292,0.071,0.770
...,...,...,...,...,...,...,...
26504,Zanzibar,ZZB,2015,0.288,0.446,0.042,0.664
26505,Zanzibar,ZZB,2016,0.251,0.446,0.042,0.664
26506,Zanzibar,ZZB,2017,0.265,0.453,0.050,0.659
26507,Zanzibar,ZZB,2018,0.268,0.497,0.062,0.659
26508,Zanzibar,ZZB,2019,0.266,0.497,0.000,0.695

In [13]:
# rename columns for consistency
df_vdem2_clean = df_vdem2.rename(columns={
    'country_name': 'Country',
    'country_text_id': 'ISO'
})

df_vdem2_clean

,Country,ISO,year,v2x_polyarchy,v2x_jucon,v2x_ex_military,v2x_corr
191,Mexico,MEX,1980,0.299,0.282,0.071,0.819
192,Mexico,MEX,1981,0.304,0.282,0.071,0.819
193,Mexico,MEX,1982,0.313,0.292,0.071,0.777
194,Mexico,MEX,1983,0.319,0.292,0.071,0.770
195,Mexico,MEX,1984,0.319,0.292,0.071,0.770
...,...,...,...,...,...,...,...
26504,Zanzibar,ZZB,2015,0.288,0.446,0.042,0.664
26505,Zanzibar,ZZB,2016,0.251,0.446,0.042,0.664
26506,Zanzibar,ZZB,2017,0.265,0.453,0.050,0.659
26507,Zanzibar,ZZB,2018,0.268,0.497,0.062,0.659
26508,Zanzibar,ZZB,2019,0.266,0.497,0.000,0.695