In [1]:
import pandas as pd
import numpy as np

In [5]:
url = "https://raw.githubusercontent.com/mariagrahamx/mariagrahamx.github.io/refs/heads/main/Capstone/SIPRI-Milex-data-1949-2024-shareGDP.csv"

df = pd.read_csv(url)
df.head(15)

,"Military expenditure by country as percentage of gross domestic product, 1949-2024 © SIPRI 2024",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,Countries are grouped by region and subregion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Notes,1949,1950,1951,1952,1953,1954,1955,1956,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,§4,...,...,...,...,...,...,...,...,...,5.55%,5.65%,5.31%,4.93%,5.33%,5.89%,4.89%,4.06%,7.39%,7.97%
9,Libya,‡§¶16,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,4.35%,5.29%,...
10,Morocco,§17,...,...,...,...,...,...,...,1.18%,...,2.96%,2.98%,2.95%,2.90%,2.87%,3.98%,3.75%,3.81%,3.59%,3.52%
11,Tunisia,NaN,...,...,...,...,...,...,...,...,...,2.14%,2.22%,2.03%,1.98%,2.38%,2.71%,2.63%,2.57%,2.49%,2.51%
12,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Angola,§‖1,...,...,...,...,...,...,...,...,...,3.11%,2.73%,2.51%,1.96%,1.77%,1.81%,1.39%,1.41%,1.41%,1.00%
14,Benin,§,...,...,...,...,...,...,...,...,...,0.80%,0.67%,0.92%,0.63%,0.47%,0.46%,0.55%,0.63%,0.76%,0.72%

In [6]:
# set the column names to the values of the sixth row

df.columns = df.iloc[4]
df.head(15)

4,Country,Notes,1949,1950,1951,1952,1953,1954,1955,1956,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Countries are grouped by region and subregion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Figures in blue are SIPRI estimates. Figures i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,""". ."" = data unavailable. ""xxx"" = country did ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,Notes,1949,1950,1951,1952,1953,1954,1955,1956,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Algeria,§4,...,...,...,...,...,...,...,...,...,5.55%,5.65%,5.31%,4.93%,5.33%,5.89%,4.89%,4.06%,7.39%,7.97%
9,Libya,‡§¶16,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,4.35%,5.29%,...
10,Morocco,§17,...,...,...,...,...,...,...,1.18%,...,2.96%,2.98%,2.95%,2.90%,2.87%,3.98%,3.75%,3.81%,3.59%,3.52%
11,Tunisia,NaN,...,...,...,...,...,...,...,...,...,2.14%,2.22%,2.03%,1.98%,2.38%,2.71%,2.63%,2.57%,2.49%,2.51%
12,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Angola,§‖1,...,...,...,...,...,...,...,...,...,3.11%,2.73%,2.51%,1.96%,1.77%,1.81%,1.39%,1.41%,1.41%,1.00%
14,Benin,§,...,...,...,...,...,...,...,...,...,0.80%,0.67%,0.92%,0.63%,0.47%,0.46%,0.55%,0.63%,0.76%,0.72%

In [7]:
# drop the first 7 rows

df2 = df.drop(df.index[0:8])
df2.head(15)

4,Country,Notes,1949,1950,1951,1952,1953,1954,1955,1956,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
8,Algeria,§4,...,...,...,...,...,...,...,...,...,5.55%,5.65%,5.31%,4.93%,5.33%,5.89%,4.89%,4.06%,7.39%,7.97%
9,Libya,‡§¶16,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,4.35%,5.29%,...
10,Morocco,§17,...,...,...,...,...,...,...,1.18%,...,2.96%,2.98%,2.95%,2.90%,2.87%,3.98%,3.75%,3.81%,3.59%,3.52%
11,Tunisia,NaN,...,...,...,...,...,...,...,...,...,2.14%,2.22%,2.03%,1.98%,2.38%,2.71%,2.63%,2.57%,2.49%,2.51%
12,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Angola,§‖1,...,...,...,...,...,...,...,...,...,3.11%,2.73%,2.51%,1.96%,1.77%,1.81%,1.39%,1.41%,1.41%,1.00%
14,Benin,§,...,...,...,...,...,...,...,...,...,0.80%,0.67%,0.92%,0.63%,0.47%,0.46%,0.55%,0.63%,0.76%,0.72%
15,Botswana,NaN,...,...,...,...,...,...,...,...,...,2.83%,3.41%,3.25%,2.92%,3.08%,3.33%,3.05%,2.52%,2.46%,2.83%
16,Burkina Faso,†,...,...,...,...,...,...,...,...,...,1.25%,1.17%,1.36%,1.93%,2.21%,2.11%,2.33%,2.98%,4.08%,4.68%
17,Burundi,‡,...,...,...,...,...,...,...,...,...,2.13%,2.24%,2.00%,2.15%,2.81%,2.19%,2.04%,2.60%,3.43%,3.80%
18,Cameroon,§,...,...,...,...,...,...,...,...,...,1.10%,1.15%,1.14%,1.08%,1.06%,0.96%,0.99%,0.94%,0.93%,1.01%
19,Cape Verde,NaN,...,...,...,...,...,...,...,...,...,0.51%,0.55%,0.47%,0.49%,0.43%,0.62%,0.55%,0.46%,0.57%,0.62%
20,Central African Republic,14,...,...,...,...,...,...,...,...,...,1.58%,1.47%,1.34%,1.34%,1.79%,1.86%,2.15%,1.71%,2.38%,2.52%
21,Chad,§,...,...,...,...,...,...,...,...,...,1.52%,2.31%,1.66%,1.65%,1.57%,2.21%,2.08%,2.04%,2.12%,2.98%
22,"Congo, DR",§15,...,...,...,...,...,...,...,...,...,1.22%,1.03%,0.74%,0.61%,0.69%,0.73%,0.53%,0.57%,1.12%,1.23%

In [16]:
# check structure

print('Current Shape:', df2.shape)
print('Columns:', df2.columns.tolist())

Current Shape: (190, 78)
Columns: ['Country', 'Notes', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [9]:
# drop columns we don't want

df3 = df2.drop(columns=['Notes','1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979','2020', '2021', '2022', '2023', '2024'])
df3

4,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
8,Algeria,2.10%,1.82%,2.06%,1.95%,1.76%,1.64%,1.79%,1.86%,1.75%,...,3.19%,3.96%,4.11%,4.42%,4.96%,5.55%,5.65%,5.31%,4.93%,5.33%
9,Libya,2.92%,1.76%,2.24%,...,...,...,...,...,...,...,...,...,3.75%,7.64%,15.48%,...,...,...,...,...
10,Morocco,5.94%,6.38%,6.22%,4.51%,4.02%,5.39%,4.30%,4.37%,4.13%,...,3.39%,3.30%,3.46%,3.81%,3.40%,2.96%,2.98%,2.95%,2.90%,2.87%
11,Tunisia,2.03%,2.48%,3.69%,4.17%,2.76%,2.34%,2.09%,1.82%,2.10%,...,1.24%,1.49%,1.44%,1.56%,1.81%,2.14%,2.22%,2.03%,1.98%,2.38%
12,sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Syria,17.25%,14.55%,15.56%,14.64%,17.69%,16.56%,14.45%,11.22%,7.85%,...,4.06%,...,...,...,...,...,...,...,...,...
194,Türkiye,3.90%,3.82%,4.30%,3.94%,3.60%,3.53%,3.64%,3.33%,2.93%,...,2.27%,2.03%,2.01%,1.92%,1.87%,1.81%,2.05%,2.05%,2.52%,2.69%
195,United Arab Emirates,...,...,...,...,...,...,...,...,...,...,6.04%,5.47%,5.08%,6.03%,5.64%,...,...,...,...,...
196,"Yemen, North",...,...,...,...,...,...,...,...,...,...,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx,xxx
197,Yemen,...,...,...,...,...,...,...,...,...,...,4.69%,4.93%,4.57%,4.08%,3.97%,...,...,...,...,...

In [14]:
year_cols = [col for col in df3.columns if str(col).isdigit()]

# melt to long format
df_long = df3.melt(
    id_vars=['Country'],
    value_vars=year_cols,
    var_name='year',
    value_name='military_spending_pct_gdp'
)

df_long.head(20)

                     Country  year military_spending_pct_gdp
0                    Algeria  1980                     2.10%
1                      Libya  1980                     2.92%
2                    Morocco  1980                     5.94%
3                    Tunisia  1980                     2.03%
4         sub-Saharan Africa  1980                       NaN
5                     Angola  1980                       ...
6                      Benin  1980                     2.03%
7                   Botswana  1980                     3.21%
8               Burkina Faso  1980                     2.75%
9                    Burundi  1980                     2.92%
10                  Cameroon  1980                     1.56%
11                Cape Verde  1980                       ...
12  Central African Republic  1980                       ...
13                      Chad  1980                       ...
14                 Congo, DR  1980                       ...
15           Congo, Republic  1980                     3.37%
16             Cote d'Ivoire  1980                     1.16%
17                  Djibouti  1980                     0.54%
18         Equatorial Guinea  1980                       ...
19                   Eritrea  1980                       ...

In [15]:
df_military_spending_clean = df_long.copy()

df_military_spending_clean

                   Country  year military_spending_pct_gdp
0                  Algeria  1980                     2.10%
1                    Libya  1980                     2.92%
2                  Morocco  1980                     5.94%
3                  Tunisia  1980                     2.03%
4       sub-Saharan Africa  1980                       NaN
...                    ...   ...                       ...
7595                 Syria  2019                       ...
7596               Türkiye  2019                     2.69%
7597  United Arab Emirates  2019                       ...
7598          Yemen, North  2019                       xxx
7599                 Yemen  2019                       ...

[7600 rows x 3 columns]