In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/mariagrahamx/mariagrahamx.github.io/refs/heads/main/Capstone/food_price_index_nominal_real_1960-2026.csv"

df = pd.read_csv(url)
df.head(15)

,Unnamed: 0,FAO Food Price Index,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65
0,NaN,2014-2016=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Month,Nominal,Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961,20.4,104.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1962,20.1,101.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1963,21.0,107.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1964,22.0,111.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1965,22.2,111.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1966,22.4,108.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1967,22.1,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1968,21.0,101.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1969,22.0,100.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1970,23.3,100.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1971,24.8,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1972,26.6,99.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# set the column names to the values of the second row

df.columns = df.iloc[1]
df.head(15)

1,Month,Nominal,Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,2014-2016=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Month,Nominal,Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961,20.4,104.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1962,20.1,101.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1963,21.0,107.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1964,22.0,111.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1965,22.2,111.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1966,22.4,108.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1967,22.1,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1968,21.0,101.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1969,22.0,100.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1970,23.3,100.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1971,24.8,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1972,26.6,99.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# drop the first 3 rows

df2 = df.drop(df.index[0:3])
df2.head(15)

1,Month,Nominal,Real,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1961,20.4,104.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1962,20.1,101.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1963,21.0,107.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1964,22.0,111.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1965,22.2,111.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1966,22.4,108.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1967,22.1,106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1968,21.0,101.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1969,22.0,100.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1970,23.3,100.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1971,24.8,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1972,26.6,99.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1973,36.1,117.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1974,51.9,138.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1975,55.2,132.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# check structure

print('Current Shape:', df2.shape)
print('Columns:', df2.columns.tolist())

Current Shape: (418, 66)
Columns: ['Month', 'Nominal', 'Real', np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan), np.float64(nan)]

In [8]:
# drop columns we don't want

# Identify columns that are NaN
nan_cols = [col for col in df2.columns if pd.isna(col)]

# Combine 'Real' with the identified NaN columns
columns_to_drop = ['Real'] + nan_cols

df3 = df2.drop(columns=columns_to_drop)
df3

1   Month Nominal
3    1961    20.4
4    1962    20.1
5    1963    21.0
6    1964    22.0
7    1965    22.2
..    ...     ...
413   NaN     NaN
414   NaN     NaN
415   NaN     NaN
416   NaN     NaN
417   NaN     NaN

[415 rows x 2 columns]

In [15]:
# rename columns
df3 =  df3.rename(columns={'Month': 'year', 'Nominal': 'food_price_index'})
df4 = df3.copy()
df4

1    year food_price_index
3    1961             20.4
4    1962             20.1
5    1963             21.0
6    1964             22.0
7    1965             22.2
..    ...              ...
413   NaN              NaN
414   NaN              NaN
415   NaN              NaN
416   NaN              NaN
417   NaN              NaN

[415 rows x 2 columns]

In [16]:
# caluclate year-over-year % change

# convert 'year' and 'food_price_index' to numeric
df4['year'] = pd.to_numeric(df4['year'], errors='coerce')
df4['food_price_index'] = pd.to_numeric(df4['food_price_index'], errors='coerce')

# drop rows where 'year' or 'food_price_index' are NaN
df4.dropna(subset=['year', 'food_price_index'], inplace=True)

df4 = df4.sort_values('year')
df4['food_price_change_pct'] = df4['food_price_index'].pct_change() * 100

df4.head(10)

1     year  food_price_index  food_price_change_pct
3   1961.0              20.4                    NaN
4   1962.0              20.1              -1.470588
5   1963.0              21.0               4.477612
6   1964.0              22.0               4.761905
7   1965.0              22.2               0.909091
8   1966.0              22.4               0.900901
9   1967.0              22.1              -1.339286
10  1968.0              21.0              -4.977376
11  1969.0              22.0               4.761905
12  1970.0              23.3               5.909091

In [19]:
df_food_index_clean = df4[(df4['year'] >= 1980) & (df4['year'] <= 2019)]

df_food_index_clean

1     year  food_price_index  food_price_change_pct
22  1980.0              65.3              10.118044
23  1981.0              63.8              -2.297090
24  1982.0              56.1             -12.068966
25  1983.0              53.2              -5.169340
26  1984.0              55.6               4.511278
27  1985.0              50.1              -9.892086
28  1986.0              49.0              -2.195609
29  1987.0              50.5               3.061224
30  1988.0              57.0              12.871287
31  1989.0              59.9               5.087719
32  1990.0              63.3               5.676127
33  1991.0              62.3              -1.579779
34  1992.0              64.2               3.049759
35  1993.0              62.3              -2.959502
36  1994.0              67.3               8.025682
37  1995.0              76.8              14.115899
38  1996.0              77.8               1.302083
39  1997.0              70.8              -8.997429
40  1998.0              64.8              -8.474576
41  1999.0              55.4             -14.506173
42  2000.0              53.7              -3.068592
43  2001.0              55.4               3.165736
44  2002.0              53.4              -3.610108
45  2003.0              58.1               8.801498
46  2004.0              65.9              13.425129
47  2005.0              67.6               2.579666
48  2006.0              72.9               7.840237
49  2007.0              94.6              29.766804
50  2008.0             117.7              24.418605
51  2009.0              91.8             -22.005098
52  2010.0             106.9              16.448802
53  2011.0             131.8              23.292797
54  2012.0             122.8              -6.828528
55  2013.0             120.1              -2.198697
56  2014.0             115.0              -4.246461
57  2015.0              93.1             -19.043478
58  2016.0              92.0              -1.181525
59  2017.0              97.9               6.413043
60  2018.0              95.8              -2.145046
61  2019.0              94.9              -0.939457