In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/mariagrahamx/mariagrahamx.github.io/refs/heads/main/Capstone/Coup%20data%202.2.2.csv"

df = pd.read_csv(url)
df

,cowcode,country,coup_id,year,month,day,event_type,realized,unrealized,conspiracy,...,coup_test,unrealized_check1,unrealized_check2,realized_unrealized_check,realized_check1,coup_type_test,incumbent_outcomes_test,noharm_test1,noharm_test2,dup_coup_id
0,700,Afghanistan,70009161979,1979,9,16,coup,1,0,0,...,0,0,0,0,0,3,2,0,0,0
1,160,Argentina,16006131960,1960,6,13,attempted coup,0,1,0,...,0,0,0,0,0,2,1,0,0,0
2,160,Argentina,16010151960,1960,10,15,attempted coup,0,1,0,...,0,0,0,0,0,1,1,0,0,0
3,160,Argentina,16008091962,1962,8,9,attempted coup,0,1,0,...,0,0,0,0,0,1,1,0,0,0
4,160,Argentina,16009221962,1962,9,22,attempted coup,0,1,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,551,Zambia,55110281997,1997,10,28,attempted coup,0,1,0,...,0,0,0,0,0,1,1,0,0,0
1157,552,Zimbabwe,55201111999,1999,1,11,conspiracy,0,1,1,...,0,0,0,0,0,1,1,0,0,0
1158,552,Zimbabwe,55203102006,2006,3,10,conspiracy,0,1,1,...,0,0,0,0,0,1,1,0,0,0
1159,552,Zimbabwe,55205292007,2007,5,29,conspiracy,0,1,1,...,0,0,0,0,0,2,1,0,0,0
1160,552,Zimbabwe,55211152017,2017,11,15,coup,1,0,0,...,0,0,0,0,0,1,2,0,0,0

In [3]:
# check structure

print('Current Shape:', df.shape)
print('Columns:', df.columns.tolist())

Current Shape: (1161, 47)
Columns: ['cowcode', 'country', 'coup_id', 'year', 'month', 'day', 'event_type', 'realized', 'unrealized', 'conspiracy', 'attempt', 'military', 'dissident', 'rebel', 'palace', 'foreign', 'auto', 'resign', 'popular', 'counter', 'other', 'noharm', 'injured', 'killed', 'harrest', 'jailed', 'tried', 'fled', 'exile', 'attempt_test1', 'conspiracy_test1', 'attempt_test2', 'conspiracy_test2', 'attempt_test3', 'conspiracy_test3', 'attempt_test4', 'conspiracy_test4', 'coup_test', 'unrealized_check1', 'unrealized_check2', 'realized_unrealized_check', 'realized_check1', 'coup_type_test', 'incumbent_outcomes_test', 'noharm_test1', 'noharm_test2', 'dup_coup_id']

In [4]:
# drop columns we don't want

df2 = df.drop(columns=['cowcode', 'coup_id','month', 'day','military', 'dissident', 'rebel', 'palace', 'foreign', 'auto', 'resign', 'popular', 'counter', 'other', 'noharm', 'injured', 'killed', 'harrest','jailed', 'tried', 'fled', 'exile', 'attempt_test1', 'conspiracy_test1', 'attempt_test2', 'conspiracy_test2', 'attempt_test3', 'conspiracy_test3', 'attempt_test4', 'conspiracy_test4', 'coup_test', 'unrealized_check1', 'unrealized_check2', 'realized_unrealized_check', 'realized_check1', 'coup_type_test', 'incumbent_outcomes_test', 'noharm_test1', 'noharm_test2', 'dup_coup_id'])
df2

,country,year,event_type,realized,unrealized,conspiracy,attempt
0,Afghanistan,1979,coup,1,0,0,0
1,Argentina,1960,attempted coup,0,1,0,1
2,Argentina,1960,attempted coup,0,1,0,1
3,Argentina,1962,attempted coup,0,1,0,1
4,Argentina,1962,attempted coup,0,1,0,1
...,...,...,...,...,...,...,...
1156,Zambia,1997,attempted coup,0,1,0,1
1157,Zimbabwe,1999,conspiracy,0,1,1,0
1158,Zimbabwe,2006,conspiracy,0,1,1,0
1159,Zimbabwe,2007,conspiracy,0,1,1,0
1160,Zimbabwe,2017,coup,1,0,0,0

In [5]:
df_coups_clean = df2.copy()

df_coups_clean

,country,year,event_type,realized,unrealized,conspiracy,attempt
0,Afghanistan,1979,coup,1,0,0,0
1,Argentina,1960,attempted coup,0,1,0,1
2,Argentina,1960,attempted coup,0,1,0,1
3,Argentina,1962,attempted coup,0,1,0,1
4,Argentina,1962,attempted coup,0,1,0,1
...,...,...,...,...,...,...,...
1156,Zambia,1997,attempted coup,0,1,0,1
1157,Zimbabwe,1999,conspiracy,0,1,1,0
1158,Zimbabwe,2006,conspiracy,0,1,1,0
1159,Zimbabwe,2007,conspiracy,0,1,1,0
1160,Zimbabwe,2017,coup,1,0,0,0