In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/mariagrahamx/mariagrahamx.github.io/refs/heads/main/Capstone/World%20Bank%20Poverty%20Index%201963%20to%202024.csv"

df = pd.read_csv(url)
df.head(15)

,World Bank Poverty Index 1963 to 2024,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,API_11_DS2_en_csv_v2_6840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Source,World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Last Updated Date,2026-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0,NaN
6,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PC40,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Aruba,ABW,Poverty gap at $8.30 a day (2021 PPP) (%),SI.POV.UMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Aruba,ABW,Poverty headcount ratio at $8.30 a day (2021 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Aruba,ABW,Poverty gap at $4.20 a day (2021 PPP) (%),SI.POV.LMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Aruba,ABW,Poverty headcount ratio at $4.20 a day (2021 P...,SI.POV.LMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# set the column names to the values of the sixth row

df.columns = df.iloc[5]
df.head(15)

5,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0,NaN
0,API_11_DS2_en_csv_v2_6840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Data Source,World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Last Updated Date,2026-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0,NaN
6,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PC40,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Aruba,ABW,Poverty gap at $8.30 a day (2021 PPP) (%),SI.POV.UMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Aruba,ABW,Poverty headcount ratio at $8.30 a day (2021 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Aruba,ABW,Poverty gap at $4.20 a day (2021 PPP) (%),SI.POV.LMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Aruba,ABW,Poverty headcount ratio at $4.20 a day (2021 P...,SI.POV.LMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# drop the first 5 rows now that it has been set as the column names

df2 = df.drop(df.index[0:6])
df2.head(15)

5,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0,2025.0,NaN
6,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aruba,ABW,Annualized average growth rate in per capita r...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Aruba,ABW,"Survey mean consumption or income per capita, ...",SI.SPR.PC40,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Aruba,ABW,Poverty gap at $8.30 a day (2021 PPP) (%),SI.POV.UMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Aruba,ABW,Poverty headcount ratio at $8.30 a day (2021 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Aruba,ABW,Poverty gap at $4.20 a day (2021 PPP) (%),SI.POV.LMIC.GP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Aruba,ABW,Poverty headcount ratio at $4.20 a day (2021 P...,SI.POV.LMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Aruba,ABW,Poverty gap at $3.00 a day (2021 PPP) (%),SI.POV.GAPS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Aruba,ABW,Poverty headcount ratio at $3.00 a day (2021 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Aruba,ABW,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Aruba,ABW,Income share held by lowest 10%,SI.DST.FRST.10,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Aruba,ABW,Proportion of people living below 50 percent o...,SI.DST.50MD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# check structure

print('Current Shape:', df2.shape)
print('Columns:', df2.columns.tolist())

Current Shape: (5586, 71)
Columns: ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', np.float64(1960.0), np.float64(1961.0), np.float64(1962.0), np.float64(1963.0), np.float64(1964.0), np.float64(1965.0), np.float64(1966.0), np.float64(1967.0), np.float64(1968.0), np.float64(1969.0), np.float64(1970.0), np.float64(1971.0), np.float64(1972.0), np.float64(1973.0), np.float64(1974.0), np.float64(1975.0), np.float64(1976.0), np.float64(1977.0), np.float64(1978.0), np.float64(1979.0), np.float64(1980.0), np.float64(1981.0), np.float64(1982.0), np.float64(1983.0), np.float64(1984.0), np.float64(1985.0), np.float64(1986.0), np.float64(1987.0), np.float64(1988.0), np.float64(1989.0), np.float64(1990.0), np.float64(1991.0), np.float64(1992.0), np.float64(1993.0), np.float64(1994.0), np.float64(1995.0), np.float64(1996.0), np.float64(1997.0), np.float64(1998.0), np.float64(1999.0), np.float64(2000.0), np.float64(2001.0), np.float64(2002.0), np.float64(2003.0), np.float64(2004.0), np.float64(2005.0), np.float64(2006.0), np.float64(2007.0), np.float64(2008.0), np.float64(2009.0), np.float64(2010.0), np.float64(2011.0), np.float64(2012.0), np.float64(2013.0), np.float64(2014.0), np.float64(2015.0), np.float64(2016.0), np.float64(2017.0), np.float64(2018.0), np.float64(2019.0), np.float64(2020.0), np.float64(2021.0), np.float64(2022.0), np.float64(2023.0), np.float64(2024.0), np.float64(2025.0), np.float64(nan)]

In [7]:
# drop columns we don't want

# The last column in df2.columns is np.float64(nan), which can cause issues with direct dropping.
# Access it by its position to ensure the exact object is passed to drop.
nan_column_name = df2.columns[-1]

df3 = df2.drop(columns=['Indicator Code', 2020.0, 2021.0, 2022.0, 2023.0, 2024.0, 2025.0, nan_column_name])
df3

5,Country Name,Country Code,Indicator Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
6,Aruba,ABW,Annualized average growth rate in per capita r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Aruba,ABW,"Survey mean consumption or income per capita, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aruba,ABW,Annualized average growth rate in per capita r...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Aruba,ABW,"Survey mean consumption or income per capita, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Aruba,ABW,Poverty gap at $8.30 a day (2021 PPP) (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5587,Zimbabwe,ZWE,Income share held by highest 20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,49.7,NaN,NaN,NaN,NaN,NaN,51.1,NaN,56.1
5588,Zimbabwe,ZWE,Income share held by fourth 20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,21.0,NaN,NaN,NaN,NaN,NaN,20.6,NaN,19.2
5589,Zimbabwe,ZWE,Income share held by third 20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,14.0,NaN,NaN,NaN,NaN,NaN,13.2,NaN,12.0
5590,Zimbabwe,ZWE,Income share held by second 20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.5,NaN,NaN,NaN,NaN,NaN,9.1,NaN,7.9
5591,Zimbabwe,ZWE,Population living in slums (% of urban populat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.54498,NaN,23.94962,NaN,23.35427,NaN,22.75892,NaN,22.16356,NaN

In [8]:
print(df3['Indicator Name'].unique())

['Annualized average growth rate in per capita real survey mean consumption or income, total population (%)'
 'Survey mean consumption or income per capita, total population (2021 PPP $ per day)'
 'Annualized average growth rate in per capita real survey mean consumption or income, bottom 40% of population (%)'
 'Survey mean consumption or income per capita, bottom 40% of population (2021 PPP $ per day)'
 'Poverty gap at $8.30 a day (2021 PPP) (%)'
 'Poverty headcount ratio at $8.30 a day (2021 PPP) (% of population)'
 'Poverty headcount ratio at national poverty lines (% of population)'
 'Poverty gap at $4.20 a day (2021 PPP) (%)'
 'Poverty headcount ratio at $4.20 a day (2021 PPP) (% of population)'
 'Gini index' 'Poverty gap at $3.00 a day (2021 PPP) (%)'
 'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)'
 'Income share held by lowest 20%' 'Income share held by lowest 10%'
 'Proportion of people living below 50 percent of median income (%)'
 'Income share held by highest 10%' 'Income share held by highest 20%'
 'Income share held by fourth 20%' 'Income share held by third 20%'
 'Income share held by second 20%'
 'Population living in slums (% of urban population)']

In [9]:
# select indicators we want

variable_to_keep = 'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)'

df_poverty = df3[df3['Indicator Name'] == variable_to_keep].copy()

print(f"Filtered to {len(df_poverty)} rows")

Filtered to 266 rows

In [10]:
df_poverty.head(40)

5,Country Name,Country Code,Indicator Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
17,Aruba,ABW,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Africa Eastern and Southern,AFE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Afghanistan,AFG,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Africa Western and Central,AFW,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Angola,AGO,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.3,NaN
122,Albania,ALB,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.8,NaN,3.7,1.1,1.1,1.4,1.0,0.3
143,Andorra,AND,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,Arab World,ARB,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,United Arab Emirates,ARE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
206,Argentina,ARG,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.5,1.2,1.3,1.1,1.1,NaN,1.3,1.1,1.6,1.7
227,Armenia,ARM,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.9,3.1,2.5,2.9,3.4,2.9,2.5,2.4,2.9,2.4
248,American Samoa,ASM,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Antigua and Barbuda,ATG,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,Australia,AUS,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3,NaN,NaN,NaN,0.5,NaN,0.5,NaN,0.5,NaN
311,Austria,AUT,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,0.5,0.7,0.3,0.2,0.7,0.7,0.3,0.6,0.6
332,Azerbaijan,AZE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Burundi,BDI,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,75.8,NaN,NaN,NaN,NaN,NaN,NaN
374,Belgium,BEL,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,0.2,0.2,0.1,0.1,0.1,0.1,0.2,0.1,0.1
395,Benin,BEN,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,68.4,NaN,NaN,NaN,65.8,NaN,NaN,37.2,NaN
416,Burkina Faso,BFA,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,58.7,NaN,NaN,NaN,47.7,NaN
437,Bangladesh,BGD,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.1,NaN,NaN,NaN,NaN,NaN,19.5,NaN,NaN,NaN
458,Bulgaria,BGR,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7,3.4,3.0,3.3,2.7,4.6,3.1,2.0,1.5,1.6
479,Bahrain,BHR,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,"Bahamas, The",BHS,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,Bosnia and Herzegovina,BIH,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,Belarus,BLR,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
563,Belize,BLZ,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
584,Bermuda,BMU,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,Bolivia,BOL,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.9,7.9,6.8,5.6,6.2,7.2,6.4,4.7,3.1
626,Brazil,BRA,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.1,6.4,5.4,4.7,5.4,6.5,6.9,6.9,7.0
647,Barbados,BRB,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.7,NaN,NaN,NaN
668,Brunei Darussalam,BRN,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
689,Bhutan,BTN,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.6,NaN,NaN,NaN,NaN,2.6,NaN,NaN
710,Botswana,BWA,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.4,NaN,NaN,NaN,NaN
731,Central African Republic,CAF,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,Canada,CAN,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,0.2,0.2,0.5,0.2,0.5,0.5,0.5,0.2,0.2
773,Central Europe and the Baltics,CEB,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,Switzerland,CHE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
815,Channel Islands,CHI,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,Chile,CHL,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.7,NaN,0.8,NaN,0.7,NaN,0.5,NaN,NaN

In [11]:
# clean name of indicator

variable_mapping = {
    'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)': 'poverty_headcount_3dollar'}

df_poverty['variable_name'] = df_poverty['Indicator Name'].map(variable_mapping)

df_poverty

5,Country Name,Country Code,Indicator Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,variable_name
17,Aruba,ABW,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
38,Africa Eastern and Southern,AFE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
59,Afghanistan,AFG,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
80,Africa Western and Central,AFW,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
101,Angola,AGO,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.3,NaN,poverty_headcount_3dollar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5498,Kosovo,XKX,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.6,3.9,2.2,3.3,2.4,2.0,15.2,20.7,11.3,poverty_headcount_3dollar
5519,"Yemen, Rep.",YEM,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.3,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
5540,South Africa,ZAF,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,31.2,NaN,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
5561,Zambia,ZMB,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.9,NaN,NaN,NaN,NaN,poverty_headcount_3dollar
5582,Zimbabwe,ZWE,Poverty headcount ratio at $3.00 a day (2021 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.7,NaN,NaN,NaN,NaN,NaN,44.7,NaN,49.2,poverty_headcount_3dollar

In [19]:
# get year columns (they're floats)

year_cols = [col for col in df_poverty.columns if isinstance(col, float) and not pd.isna(col)]

print(f"Years: {min(year_cols)} to {max(year_cols)}")

# melt to long format
df_long = df_poverty.melt(
    id_vars=['Country Name', 'Country Code', 'variable_name'],
    value_vars=year_cols,
    var_name='year',
    value_name='value'
)

# convert year to int
df_long['year'] = df_long['year'].astype(int)
df_long['value'] = pd.to_numeric(df_long['value'], errors='coerce')

print(f"\nLong format shape: {df_long.shape}")
print(df_long.head())

Years: 1960.0 to 2019.0

Long format shape: (15960, 5)
                  Country Name Country Code              variable_name  year  \
0                        Aruba          ABW  poverty_headcount_3dollar  1960
1  Africa Eastern and Southern          AFE  poverty_headcount_3dollar  1960
2                  Afghanistan          AFG  poverty_headcount_3dollar  1960
3   Africa Western and Central          AFW  poverty_headcount_3dollar  1960
4                       Angola          AGO  poverty_headcount_3dollar  1960

   value
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN

In [21]:
# check how much actual data we have (not NaN)

print(f"Total rows: {len(df_long)}")
print(f"Non-missing poverty data: {df_long['value'].notna().sum()}")
print(f"Missing: {df_long['value'].isna().sum()}")

Total rows: 15960
Non-missing poverty data: 2618
Missing: 13342

In [22]:
df_long

,Country Name,Country Code,variable_name,year,value
0,Aruba,ABW,poverty_headcount_3dollar,1960,NaN
1,Africa Eastern and Southern,AFE,poverty_headcount_3dollar,1960,NaN
2,Afghanistan,AFG,poverty_headcount_3dollar,1960,NaN
3,Africa Western and Central,AFW,poverty_headcount_3dollar,1960,NaN
4,Angola,AGO,poverty_headcount_3dollar,1960,NaN
...,...,...,...,...,...
15955,Kosovo,XKX,poverty_headcount_3dollar,2019,11.3
15956,"Yemen, Rep.",YEM,poverty_headcount_3dollar,2019,NaN
15957,South Africa,ZAF,poverty_headcount_3dollar,2019,NaN
15958,Zambia,ZMB,poverty_headcount_3dollar,2019,NaN
15959,Zimbabwe,ZWE,poverty_headcount_3dollar,2019,49.2

In [23]:
# pivot to wide format

df_wide = df_long.pivot_table(
    index=['Country Name', 'Country Code', 'year'],  # one row per country-year
    columns='variable_name',            # each indicator becomes a column
    values='value',
    aggfunc='first'  # in case of any remaining duplicates
).reset_index()

print(f"\nWide format shape: {df_wide.shape}")
print(f"Columns: {df_wide.columns.tolist()}")

Wide format shape: (2618, 4)
Columns: ['Country Name', 'Country Code', 'year', 'poverty_headcount_3dollar']

In [24]:
df_wide

variable_name Country Name Country Code  year  poverty_headcount_3dollar
0                  Albania          ALB  1996                        3.0
1                  Albania          ALB  2002                        4.2
2                  Albania          ALB  2005                        2.7
3                  Albania          ALB  2008                        0.8
4                  Albania          ALB  2012                        1.8
...                    ...          ...   ...                        ...
2613                Zambia          ZMB  2006                       72.0
2614                Zambia          ZMB  2010                       71.4
2615              Zimbabwe          ZWE  2017                       44.7
2616              Zimbabwe          ZWE  2019                       49.2
2617              Zimbabwe          ZWE  2011                       35.7

[2618 rows x 4 columns]

In [28]:
df_poverty_clean = df_wide.copy()

# Rename columns for consistency
df_poverty_clean = df_poverty_clean.rename(columns={
    'Country Code': 'ISO',
    'Country Name': 'Country'
})

# Filter to 1980-2019
df_poverty_clean = df_poverty_clean[(df_poverty_clean['year'] >= 1980) &
                                     (df_poverty_clean['year'] <= 2019)]

print(f"Cleaned poverty data: {df_poverty_clean.shape}")
print(df_poverty_clean.head())

Cleaned poverty data: (2573, 4)
variable_name  Country  ISO  year  poverty_headcount_3dollar
0              Albania  ALB  1996                        3.0
1              Albania  ALB  2002                        4.2
2              Albania  ALB  2005                        2.7
3              Albania  ALB  2008                        0.8
4              Albania  ALB  2012                        1.8

In [29]:
df_poverty_clean

variable_name   Country  ISO  year  poverty_headcount_3dollar
0               Albania  ALB  1996                        3.0
1               Albania  ALB  2002                        4.2
2               Albania  ALB  2005                        2.7
3               Albania  ALB  2008                        0.8
4               Albania  ALB  2012                        1.8
...                 ...  ...   ...                        ...
2613             Zambia  ZMB  2006                       72.0
2614             Zambia  ZMB  2010                       71.4
2615           Zimbabwe  ZWE  2017                       44.7
2616           Zimbabwe  ZWE  2019                       49.2
2617           Zimbabwe  ZWE  2011                       35.7

[2573 rows x 4 columns]